@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --branco: #dad7cdff;
    --verde-clarinho: #a3b18aff;
    --verde-folha-claro: #588157ff;
    --verde-militar: #3a5a40ff;
    --verde-extremo: #344e41ff;
    --fonte-titulo:"PT Serif", serif;
    --fonte-texto:"Playfair Display", serif;
}

body{
    background-color:var(--verde-clarinho);
    font-family:var(--fonte-texto);
    font-size: 25px;
}

.cabecalho{
    background-color: var(--verde-militar);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.cabecalho.img{
    width: 20px;
    border-radius: 100%;
}

.cabecalho-nav__link{
    font-family: var(--branco);
    text-decoration: none;
    font-size: 36px;
    color: var(--branco);
    margin-right: 36px;
}

.cabecalho-nav__link:hover{
color: var(--branco);
font-size: 46px;
transition: cubic-bezier(0.55, 0.55, 0.675, 0.19);
text-shadow: 2px 2px var(--verde-folha-claro);
}

.principal-capa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    padding: 5em;
}

.principal-capa__imagem{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 330px;
    flex-direction: column;
    border-radius: 100px;
    border-bottom: 100px;
}

.principal-capa__texto{
    font-size: 24px;
    margin-top: 24px;
}

.principal-capa__titulo{
    font-family: var(--verde-folha-claro);
    font-size: 32px;
    color: var(--verde-folha-claro);
    margin-bottom: 12px;
}
.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.principal-capa__botao{
    background-color: var(--verde-militar);
    color: var(--branco);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    text-decoration: none;
}
.principal-capa__botao:hover{
    padding: 1.2em;
    background-color: var(--verde-folha-claro);
    color: var(--verde-extremo);
    transition: 0.5s;
}
.principal-capa__botao__secundario{
    background-color: var();
    border: 5px solid var(--verde-extremo);
    color: var(--verde-militar);
    padding: 1em;
}